#Tiles
*.aseprite

#Ejecutable
__pycache__/

application.windows32/
application.windows64/
application.linux32/
application.linux64/
application.linux-arm64/
application.linux-armv6hf/
*.zip
*.rar
*.ico